//  colors
$_white: #FFFFFF;
$_black-light: rgba(1, 1, 31, 0.4);
$_black: #01011F;

// font-size
$_main_title: 48px;
$_title: 36px;
$_sub_title: 28px;
$_small_title: 22px;
$_link: 18px;
$_text: 16px;
$_desc: 14px;
$_small_text: 12px;
$_extra_small: 10px;

// border

